body {
    display: flex;
    height: 100vh;
    background-color: rgb(255, 226, 121);
    flex-direction: column;
}

header {
    width: 100%;
    justify-content: center;
    display: flex;
}

#content {
    flex-direction: column;
    display: flex;
    align-items: center;
}

h1 {
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.restaurant-image {
    background: url('./imgs/restaurant.jpg');
    background-size: cover;
    width: 500px;
    height: 500px;
}

.hero-text {
    font-size: large;
}