@tailwind base;
@tailwind components;
@tailwind utilities;

.restaurant-image {
    background-image: url('./imgs/restaurant.jpg');
    width: 500px;
    height: 500px;
    background-size: cover;
}


.grid img {
    width: 100px !important;
    height: 100px !important;
}

